<% header "Listing Users" %>
<% page_title " user listing" %>


<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Numéro</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name,user %></td>
        <td><%= user.email %></td>
        <td><%= user.numero %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

