<% header "#{@user.lastname}, #{@user.firstname}" %>
<% page_title "Utilisateur #{@user.firstname} #{@user.lastname}" %>
<p>

<p>
  <strong>Numero:</strong>
  <%= @user.numero %>
</p>

<%= link_to 'Liste des utilisateurs', users_path %>
